.banner {
  .bannerContent {
    max-width: 800px;
    left: 18%;

    .title1 {
      font-family: DMSerifDisplayRegular;
      color: var(--paragraph-dark);
      font-size: 72px;
    }

    .title2 {
      font-family: DMSerifDisplayRegular;
      color: var(--secondary-color);
      font-size: 72px;
    }

    .desc {
      width: 80%;
      font-family: MulishRegular;
      color: var(--paragraph-dark);
      margin-top: 24px;
      margin-bottom: 48px;
      font-size: 18px;
      max-height: 6em;
      overflow: hidden;
    }

    .buttonMainBlock {
      width: 90%;

      .bannerBtn {
        color: var(--paragraph-dark);
        box-shadow: 0px 1px 6px rgba(8, 20, 57, 0.2);
        border-radius: 4px;
        border: 1px solid #fff;
        background: transparent;
        font-family: "MulishBold";
        font-size: 16px;
        padding: 14px 28px;
        text-transform: uppercase;

        >img {
          padding-left: 5px;
        }
      }


      .bannerBtn:hover {
        background: var(--primary-color);
        box-shadow: 0px 1px 6px rgba(8, 20, 57, 0.2);
        border: none;
        transition: 0.8s;
      }
    }
  }
}

@media only screen and (min-width: 560px) and (max-width: 1200px) {
  .banner {
    .bannerContent {
      left: 8%;

      .title1,
      .title2 {
        font-size: 3.125rem;
      }

      .desc {
        margin-top: 28px;
        margin-bottom: 28px;
      }

      .buttonMainBlock {
        width: 100%;

        .buttonBlock {
          .bannerBtn {
            >img {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 560px) {
  .banner {
    .bannerContent {
      max-height: 300px;
      left: 0;
      bottom: 8%;

      .title1,
      .title2 {
        font-size: 48px;
      }

      .desc {
        display: none;
      }

      .buttonMainBlock {
        width: 100%;

        .buttonBlock {
          .bannerBtn {
            font-size: 14px;
            padding: 10px;

            >img {
              display: none;
            }
          }
        }
      }
    }
  }
}

.bannerBackground {
  .imgOverlay {
    background: linear-gradient(254.26deg,
        rgba(8, 20, 57, 0.1) 16.56%,
        rgba(8, 20, 57, 0.75) 75.07%);
    top: 0;

  }

  .bannerimage {
    min-height: 550px;
  }

  .bannervideo {
    object-fit: cover;
    height: 700px;
  }
}