.skeletonParent{
    .banner{
        height: 100vh;
        .header{
            height: 20%;
            background-color: var(--light-grey);
        }
        .body{
            height: 80%;
            background-color: var(--light-grey);
            padding-left: 20%;
            padding-right: 20%;
            gap:20px;
           
            .bodyHead{
                width: 70%;
                height: 50px;
                background-color: var(--heading-dark);
            }
            .bodyDesc{
                width: 60%;
                height: 20px;
                background-color: var(--heading-dark);
            }
            .bodyBtn{
                width: 250px;
                height: 50px;
                background-color: var(--heading-dark);
            }
        }
    }

    .partner{
        width: 100%;
        background-color: var(--light-grey);
        gap:20px;
        .partnerLogo{
            width:10%;
            min-width: 150px;
            min-height: 100px;
            background-color: var(--heading-dark);
        }
    }
    .membership{
        padding-top: 50px;
        height: 105vh;
        width: 100%;
        background-color: var(--light-grey);
        .imagePerk{
            height: 100%;
            width: 55%;
            background-color: var(--heading-dark);
        }
        .card{
            background-color: var(--light-grey);
            width: 35%;
            height: 80%;
            .cardData{
                width: 100%;
                height: 20px;
                background-color: var(--heading-dark);
            }
        }
    }
    .testimonial{
        padding-top: 50px;
        background-color: var(--light-grey);
        padding-left: 20%;
        .smallText{
          width:25%;
           min-width: 250px;
           min-height: 20px;
           background-color: var(--heading-dark);
        }
        .bigText{
            width:50%;
            min-width: 300px;
            height: 20px;
            background-color: var(--heading-dark);
        }
        .videoContainer{
            padding-top: 70px;
            .imgParent{
                top:30px;
                gap:20px;
                margin-left: 20px;
                .roundImg{
                    width: 86px;
                    height: 86px;
                    background-color:var(--heading-dark);
                    border-radius: 45px;
                }
            }
        }
        .box{
            width: 60%;
            height: 50vh;
            background-color: var(--heading-dark);
        }
    }
}

@media only screen and (max-width: 800px) {
    .skeletonParent{
        .banner{
            .body{
                 padding:5px;
                 align-items: center;
                 justify-content: center;
                 .bannerBtn{
                    justify-content: center;
                 }
                .bodyHead{
                  width: 90%;
                }
                .bodyDesc{
                  width: 80%;
                }
            }
        }
        .membership{
            flex-direction: column;
            .imagePerk{
                width: 90%;
            }
            .card{
                width:80%;
                position: static;
            }
        }
        .testimonial{
            padding-left: 0px;
            .box{
                width: 100%;
            }
        }
    }
}