@font-face {
  font-family: DMSansRegular;
  src: url(../public/assets/fonts/DM_Sans/DMSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: DMSansMedium;
  src: url(../public/assets/fonts/DM_Sans/DMSans-Medium.ttf) format("truetype");
}
@font-face {
  font-family: DMSansBold;
  src: url(../public/assets/fonts/DM_Sans/DMSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: MulishRegular;
  src: url(../public/assets/fonts/Mulish/Mulish-Regular.ttf) format("truetype");
}
@font-face {
  font-family: MulishMedium;
  src: url(../public/assets/fonts/Mulish/Mulish-Medium.ttf) format("truetype");
}
@font-face {
  font-family: MulishBold;
  src: url(../public/assets/fonts/Mulish/Mulish-Bold.ttf) format("truetype");
}
@font-face {
  font-family: MulishSemiBold;
  src: url(../public/assets/fonts/Mulish/Mulish-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: DMSerifDisplayRegular;
  src: url(../public/assets/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf) format("truetype");
}
